[v-cloak] {
  display: none;
}

#app {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

section{
      padding: 0 25px;
}
section #app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#phone {
  width: 50%;
}

#phone #wrapper {
  position: relative;
  width: 281px;
  height: 410px;
  margin: 0 auto 0 auto;
  position: relative;
  top: 27px;
  padding: 24px 0 0 0;
  background: #fff;
}

#phone #wrapper #dialbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 4px;
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 36px;
  border: 0;
  outline:0;
  text-shadow: 0 0 0 #000;
    color: transparent;
    pointer-events:none;
}
 #phone #wrapper #dialbox:focus {
   outline: none;
 }
#phone #wrapper #keypad .key {
  border-radius: 50px 50px 50px 50px;
  color: #444;
  width: 66px;
  height: 66px;
  text-align: center;
  font-size: 30px;
  float: left;
  box-sizing: border-box;
  padding: 5px 0 0 0;
  margin: 0 10px 13px 10px;
  border: 1px solid #444;
  cursor: pointer;
}

#phone #wrapper #keypad .key.disabled {
  opacity: 0.5;
  pointer-events: none;
}

#phone #wrapper #keypad .key:hover {
  background: yellow;
}

#phone #wrapper #keypad .key span {
  display: block;
  color: #444;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
}

#phone #wrapper #keypad .key.special {
  line-height: 60px;
}

#phone #wrapper #keypad .key.nb {
  border: none;
}

#phone #wrapper #keypad .key.phone {
  background: #5CDB74;
  border: none;
  color: #FFF;
  line-height: 60px;
  font-size: 40px;
}

#phone #wrapper #keypad .key.phone.disabled {
  opacity: 0.5;
  pointer-events: none;
}

#phone #wrapper #keypad {
  position: absolute;
  top: 18%;
}
#words {
  width: 50%;
}

#words .results-found {
  background: #000;
  padding: 20px 10px;
  border-radius: 5px;
}

#words .results-found h3 {
  color: #fff;
}

#words .data {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


#words .data .word {
  font-size: 22px;
  font-weight: 300;
  line-height: 28px;
  padding: 10px;
  margin: 10px;
  background: #888888;
  color:#fff;
  border-radius: 5px;
}

